.grid-container3 {
    display: grid;
    grid-template-columns: .333fr .333fr .333fr;
    height: 90%;
}

#aboutJoey {
    background-image: url('/afb/orange-bg-joey.jpg');
    background-color: rgba(255, 255, 255, .8);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    transition: all .3s;
}

#aboutJoey:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#education {
    background-image: url('/afb/propedeuse.jpg');
    background-color: rgba(255, 255, 255, .75);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    transition: all .3s;
}

#education:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#work {
    background-image: url('/afb/joey-camera.jpg');
    background-color: rgba(255, 255, 255, .5);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    transition: all .3s;
}

#work:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.back-button {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; 
    display: inline-block; 
    position: absolute;
    z-index: 2;
    margin-bottom: 40px; 
    margin-top: 20px;
    margin-left: 20px
}

.back-button:hover {
    background-color: #333;
}