header {
  z-index: 1000;
  width: 100%;
  height: 70px;
  background-color: black;
  color: #fff;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}

.logo {
  width: 300%;
  margin-left: 20px;
}

nav {
  position: relative;
  right: 20px;
  display: flex;
  width: fit-content;
}

nav a {
  font-family: "Inter", sans-serif;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90%;
}

.grid-container2 {
  display: grid;
  grid-template-columns: .5fr .5fr;
  height: 90%;
}

.grid-item {
  outline: 3px solid black;
  position: relative;
}

.grid-item-box:nth-child(2) {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.sub-grid-item {
  outline: 3px solid black;
  position: relative;
}

.subsub-grid-item {
  outline: 3px solid black;
  position: relative;
}

.sub-grid-item2.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.itemHover {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itemHover:hover {
  transform: translateY(-5px);
  /* Lift the grid item by 5 pixels */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* Add drop shadow */
}

.itemTitle {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
}

.itemDesc {
  font-size: 24px;
  font-weight: 300;
  color: black;
}

.textBox {
  font-family: "Inter", sans-serif;
  width: 40%;
  margin-bottom: 20px;
  /* Margin from the bottom */
  margin-left: 20px;
  /* Margin from the left */
}

.kop2 {
  margin-top: 60px;
  text-align: left;
}

blockquote p {
  font-size: 32px;
}

blockquote h2 {
  font-weight: 900;
}

.lower-textbox {
  display: flex;
  align-items: flex-end;
}

#latest-work {
  background-image: url('/afb/viva24/viva24-4.jpg');
  background-color: rgba(255, 255, 255, .75);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  transition: all .3s;
}

#latest-work:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#portfolio {
  background-image: url('/afb/vintage-thumb.jpg');
  background-color: rgba(255, 255, 255, .9);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  transition: all .3s;
}

#portfolio:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

#about-me {
  background-image: url('/afb/orange-bg-joey.jpg');
  background-color: rgba(255, 255, 255, .9);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  transition: all .3s;
}

#about-me:hover {
  background-color: rgba(255, 255, 255, .5);
}

#contact {
  background-image: url('/afb/joey-camera.jpg');
  background-color: rgba(255, 255, 255, .75);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  transition: all .3s;
}

#contact:hover {
  background-color: rgba(255, 255, 255, .4);
}

.version {
  font-family: "Inter", sans-serif;
  position: fixed;
  bottom: 10px;
  /* Adjust as needed to control the distance from the bottom */
  left: 10px;
  /* Adjust as needed to control the distance from the right */
  background-color: rgba(0, 0, 0, 0.5);
  /* Background color with transparency */
  color: white;
  /* Text color */
  padding: 5px 10px;
  /* Padding around the text */
  border-radius: 5px;
  /* Rounded corners */
  font-size: 14px;
  /* Font size */
}

#go-up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}

#go-up-button::before {
  content: '\25b2';
  /* Unicode for upward arrow */
  font-size: 24px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Show the button when user scrolls down */
#go-up-button.show {
  display: block !important;
}



/* Add this CSS for smaller screens */
@media screen and (max-width: 750px) {

  #photography,
  #videography {
    width: 100%;
    /* Set the width to 100% to take the full width of the container */
    height: 400px;
    /* Adjust the height to your desired value */
  }


  .grid-container,
  .grid-container2,
  .grid-container3 {
    display: block;
    height: auto;
    /* Change display to block for smaller screens */
  }

  .grid-item,
  .sub-grid-item,
  .subsub-grid-item {
    width: auto;
    /* Set width to auto to allow items to take full width */
  }

  .grid-item-box {
    display: block;
    /* Change display to block for smaller screens */
  }

  .sub-grid-item2.split {
    display: block;
    /* Change display to block for smaller screens */
  }

  #navHome,
  #navAbout-me,
  #navPortfolio {
    display: none;
    /* Hide the navigation menu on smaller screens */
  }

  .textBox {
    padding-top: 100px;
  }

  .itemTitle {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
  }

  .itemDesc {
    font-size: 16px;
    font-weight: 300;
    color: black;
  }
}

footer {
  position: relative;
  width: 100%;
  height: 350px;
  /* Double the height of the header */
  background-color: black;
  color: #fff;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
}

footer nav a {
  font-family: "Inter", sans-serif;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 20px;
}

footer .logo {
  width: 10%;
  margin-right: 30%;
}

footer .copyright {
  position: relative;
  top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: white;
}

@media screen and (max-width: 750px) {
  footer .logo {
    margin-left: 0;
    width: 20%;
  }
}

.iframe-container {
  margin-top: 60px;
  width: 100%;
  height: 400px;
  text-align: center;
  /* Center-align the content horizontally */
}

.iframe-container iframe {
  display: inline-block;
  /* Make the iframe behave like an inline-block element */
  vertical-align: middle;
  /* Vertically align the iframe in the middle */
  width: 100%;
  height: 100%;
}