/* #photography {
    background-image: url('/afb/viva-thumb.png');
    background-color: rgba(255, 255, 255, .75);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    transition: all .3s;
}

#photography:hover {
    background-color: rgba(255, 255, 255, 0.5);
} */

#photography {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .75);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: left;
    transition: all 0.5s;
}

@media screen and (max-width: 750px) {
    .background-image {
        background-size: contain;
        background-position: center;
        max-width: 100%;
        max-height: 100%;
    }
}



.fade-out .background-image {
    background-color: rgba(255, 255, 255, 1);
}

.fade-in .background-image {
    background-color: rgba(255, 255, 255, .75);
}

.textBox {
    position: relative;
    z-index: 1;
    /* Ensure text box stays above background image */
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(255, 255, 255, .75);
    /* Fallback for browsers that don't support video */
}

.textBox {
    position: relative;
    z-index: 1;
    /* Ensure text box stays above background video */
}

#videography:hover .background-video {
    background-color: rgba(255, 255, 255, 0.75);
    /* Change opacity on hover */
}

#videography:hover .background-video::backdrop {
    background-color: rgba(255, 255, 255, 0.5);
    /* Change backdrop opacity on hover */
}

#otherPortfolio {
    background-image: url('/afb/placeholder.png');
    background-color: rgba(255, 255, 255, .5);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    transition: all .3s;
}

#otherPortfolio:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.back-button {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    z-index: 2;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px
}

.back-button:hover {
    background-color: #333;
}