#photography {
    background-image: url('/afb/viva-thumb.png');
    background-color: rgba(255, 255, 255, .75);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    transition: all .3s;
}

#photography:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#videography {
    background-image: url('/afb/blikveld-thumb.png');
    background-color: rgba(255, 255, 255, .75);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    transition: all .3s;
}

#videography:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#otherPortfolio {
    background-image: url('/afb/placeholder.png');
    background-color: rgba(255, 255, 255, .5);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    transition: all .3s;
}

#otherPortfolio:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.back-button {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; 
    display: inline-block; 
    position: absolute;
    z-index: 2;
    margin-bottom: 40px; 
    margin-top: 20px;
    margin-left: 20px
}

.back-button:hover {
    background-color: #333;
}